/* global styling */
html {
  min-height: 100%;
  background: #fec485;
  font-family:Arial, sans-serif; 
  
}

h1 {
   font-family: Helvetica, sans-serif;
   color: #2e5b8c;
}

input[type=checkbox]:checked+label.complete {
  text-decoration: line-through;
}

input {
  background: #fdbe79;
  border: none;
  color: #407fc4;
}

li {
  list-style-type: none;
  color: #2e5b8c;
}

/* todo container */
.todo-container {
  display: flex;
}

/* vanilla container */
.todo-vanilla {
  flex-basis: 50%;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-image: radial-gradient(circle 561px at 49% 45.3%, rgba(253, 172, 83, 1) 0%, rgba(253, 104, 83, 0.37) 90.1%);
}

/* react container */
.todo-react {
  flex-basis: 50%;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-image: radial-gradient(circle 561px at 49% 45.3%, rgba(253, 172, 83, 1) 0%, rgba(253, 104, 83, 0.37) 90.1%);
}

