html {
  min-height: 100%;
  background: #fec485;
  font-family:Arial, sans-serif; 
  font-size: 62.5%; /* allow use to work with rem on a 10 base increment */
}

/* app container */
.app-container {
  display: flex;
}

/* todo container */
.todo-container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1.6rem;
  text-align: center;
  background-image: radial-gradient(circle 561px at 49% 45.3%, rgba(253, 172, 83, 1) 0%, rgba(253, 104, 83, 0.37) 90.1%);
}


/* mobile responsive */
@media (max-width: 720px) {
  .app-container {
    display: block;
  }
  .todo-container {
    padding-bottom: 10px;
  }
  h1 {
    padding-top: 15px;
  }
}


h1 {
   font-family: Helvetica, sans-serif;
   color: #2e5b8c; 
}

.add-item {
padding: 1.6rem 0;
}

.add-item__input {
  background: #fdbe79;
  border: none;
  margin-right: .8rem;
  color: #407fc4;
}

.submit {
  cursor: pointer;
}

/* position custom checkbox */
.item-container {
  display: flex;
  position: relative;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 20px;
  justify-content: space-between;
  text-align: right;
}

.remove-button {
  cursor: pointer;
}

.item__text {
  color: #2e5b8c;
  font-size: 1.5rem;
  padding-top: .5rem;
  margin: 0;
  word-break: break-all;
}

/* hide initial checkbox*/
input[type=checkbox] {
  visibility: hidden;
}

/* create strikethrough for checked items */
input[type=checkbox]:checked + p.item__text {
  text-decoration: line-through;
}

/* custom checkbox */
.custom-checkbox {
  position: absolute; 
  top: 0;
  left: 0;
  height: 17px;
  width: 19px;
  background: #fd7866;
  border-radius: 5px;
  border-bottom: .25em solid #fd6853;
}

/* checkmark to be shown */
.custom-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* display checkmark when checked */
.item-container input:checked ~ .custom-checkbox:after {
  display: block;
}

/* styling checkmark */
.item-container .custom-checkbox:after {
  left:7px;
  bottom: 3px;
  width: 3px;
  height: 9px;
  border: solid #456d98;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

button {
  background: #fd7866;
  border: none;
  border-radius: 5px;
  border-bottom: .25em solid #fd6853;
  color: #456d98;
}

li {
  list-style-type: none;
  color: #2e5b8c;
}

.complete {
  padding: 0 5px
}


